<h3>New Comment for {{mit.title}}</h3>
{{#form-for model wrapper='twitter-bootstrap-3'}}
  {{input body as="text"}}
  <button {{action 'save' this}} class='btn btn-primary'>Save comment</button>
{{/form-for}}
