{{#each invites}}
<div class='row'>
  <div class="col-lg-6">
    <div class='form-group'>
      <div class="input-group">
        {{input type="text" value=identification placeholder='Enter username or email' classNames='form-control'}}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" {{action removeMember this}}><span class='glyphicon glyphicon-remove'></span></button>
        </span>
      </div>
        <span class="help-block"></span>
    </div>
  </div>
</div>
{{/each}}
<button {{action 'save' this}} class='btn btn-primary'>Add members</button>
<button {{action 'newMember' this}} class='btn btn-primary'>Add another member</button>
