<h3>{{#link-to 'mits.new'}}<span class='glyphicon glyphicon-plus'></span> Create a new Mit{{/link-to}}</h3>
<div class="list-group">
{{#each}}
{{#link-to 'mit' this classNames='list-group-item'}}
<h4 class="list-group-item-heading">{{title}} <small>for {{date}}</small></h4>
  <p class="list-group-item-text">{{dotdotdot body}}</p>
{{/link-to}}
{{/each}}
</div>
