<div class='page-header'>
  <h1>Mit <small>for {{date}}</small></h1>
</div>
{{title}}
{{body}}
{{#if isOwner}}
  <button class='btn' {{action destroyRecord this}}>Delete</button>
{{/if}}
{{#if canEdit}}
  {{#link-to 'mits.edit' this classNames='btn btn-primary'}}Edit{{/link-to}}
{{/if}}
